@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-gray-500;
  @apply text-gray-900;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Background of the scrollbar track */
  border-radius: 4px; /* Rounded corners for the scrollbar track */
}

.scrollbar-thin {
  -ms-overflow-style: auto; /* IE and Edge */
  scrollbar-width: thin; /* Firefox */
}

.ProseMirror {
  outline: none;
}

.ProseMirror-focused {
  outline: none !important;
  box-shadow: none !important;
}

.ProseMirror:focus,
.ProseMirror:focus-visible {
  outline: none !important;
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin: 1rem 0;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin: 1rem 0;
}

.ProseMirror ul ul,
.ProseMirror ol ul {
  list-style-type: circle;
}

.ProseMirror ul ol,
.ProseMirror ol ol {
  list-style-type: lower-alpha;
}

.select-container {
  width: 200px; /* Atur lebar sesuai kebutuhan */
}

.select-container select {
  width: 100%; /* Membuat select mengambil lebar penuh dari container */
  overflow: hidden; /* Menyembunyikan teks yang melampaui batas */
  text-overflow: ellipsis; /* Menambahkan elipsis (...) di akhir teks yang terpotong */
  white-space: nowrap; /* Mencegah teks membungkus */
}
